<h1>This is the guest show page</h1>

<p>Guest name:<%= @guest.name %></p><br>

<p>Guest Occupation:<%= @guest.occupation %></p>

<h1>The list of the episodes this guest has been in:</h1>

<% @guest.appearances.each do |appearance| %>
   <p>Appearance Date :<%= appearance.episode.date %></p><br>

   <p>Appearance Date :<%= link_to appearance.episode.date, episode_path(appearance.episode) %></p><br>
  
   <p>Appearance Rating:<%= appearance.rating %><p> 

<% end %>