<h1>New Appearance Form</h1>

<%= form_for @appearance do |f| %>
  <% if @appearance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appearance.errors.count, "error") %> prohibited this appearance from being saved:</h2>

      <ul>
      <% @appearance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Episode Number:" %><br>
  <%= f.collection_select :episode_id, Episode.all, :id, :number %><br><br>
  <%= f.label "Guest Name:" %><br>
  <%= f.collection_select :guest_id, Guest.all, :id, :name %><br><br>
  <%= f.label "Rating" %><br>
  <%= f.text_area :rating %><br><br>
  <%= f.submit %>
<% end %> 